<!doctype html>
<html>
  <head>
    <title><%= "Project Unify" %></title>
    <%= stylesheet_link_tag File.join(engine_wrapper.namespaced_path, "application").gsub(/^\//, ""), media: "all" %>
    <%= javascript_include_tag File.join(engine_wrapper.namespaced_path, "application").gsub(/^\//, "") %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <img src="/logo.jpg" alt="logo" width="128" height="128"/>
  </head>
  <body>
    <%= yield :body %>
    <% content_for :body do %>
      <text>this is a test</text>
    <% end %>
  </body>
</html>
